body{
  background-image: url(https://img.freepik.com/free-photo/digital-picture-world-from-outer-space_53876-104050.jpg?size=626&ext=jpg&ga=GA1.2.1015358981.1655300334);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bfc9dc;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Noto Sans Ethiopic', sans-serif;
}
h1{
  font-size: 30px;
  color: #576F72;
}
h2{
  font-size: 25px;
  color: #576F72;
}
p{
  font-size: 20px;
  color: #576F72;
  margin:  50px ;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 150px;
  background-color: #7D9D9C;
  color:aliceblue;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.btn_show_more{
  background-color:#d3d6e0;
  color: #7D9D9C;
  border: none;
  font-style: italic;
}
